* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
  color: white;
}

li, ul {
  display: inline-block;
}

#body {
  display: flex;
  flex-direction: column;
  max-width: auto;
}

/**------------FOOTER------------**/
#footer {
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  background-image: linear-gradient(rgb(75, 97, 41), rgb(255, 255, 255));
  height: 45px;
  bottom: 0;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Copyright {
  font-size: 9px;
  position: absolute;
  bottom: 10px;
  right: 5px;
}

.footer-text h5 {
  font-size: medium;
  color: rgb(205, 221, 200);
}

.footer-img {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 400px;
  justify-content: space-around;
}

/**------------NAV------------**/
.navbar-brand img {
  width: 80px;
}

.navbar-brand {
  padding: 10px;
}

.colorbarra {
  background-image: linear-gradient(rgb(75, 97, 41), rgb(255, 255, 255));
  max-width: 1600px;
  width: 100%;
}

.nav {
  min-width: auto;
}

/**-----------PAGE PRODUCTOS------------**/
.productos-main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.grid-container {
  display: grid;
  width: 1000px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 200px);
  grid-template-areas: "item1 item2 item3" "item4 item5 item6";
  column-gap: 20px;
  row-gap: 30px;
}
.grid-container div {
  text-align: center;
  max-width: 100%;
  height: auto;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.item5 {
  grid-area: item5;
}

.item6 {
  grid-area: item6;
}

@media (max-width: 900px) {
  .grid-container {
    width: 100%;
    max-width: 400px;
    column-gap: 60px;
    grid-template-columns: repeat(2, 200pxfr);
    grid-template-rows: repeat(3, 250px);
    grid-template-areas: "item1 item2" "item3 item4" "item5 item6";
  }
  .grid-item {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .grid-container {
    width: 100%;
    max-width: 300px;
    grid-gap: 30px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 250px);
    grid-template-areas: "item1" "item2" "item3" "item4" "item5" "item6";
  }
}
/**-----------PAGE CONTACTO------------**/
#main-contacto {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
#main-contacto h1 {
  text-align: center;
}
#main-contacto form {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#main-contacto form label {
  margin-top: 25px;
}
#main-contacto form textarea {
  margin-top: 25px;
  max-width: 100%;
  max-height: 200px;
  height: 100%;
}
#main-contacto form .btn1 {
  width: 50px;
}

/**-----------PAGE POLITICA DE REEMBOLSO------------**/
#main-pdr {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#main-pdr h1 {
  padding: 40px;
  text-align: center;
}
#main-pdr p {
  padding: 30px;
}

/**-----------PAGE COMO COMPRAR------------**/
#main-cm {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#main-cm h1 {
  padding: 40px;
  text-align: center;
}
#main-cm p {
  padding: 40px;
}

/**------------MAIN------------**/
#main {
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.container h1 {
  color: rgb(0, 0, 0);
  font-size: 80px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 0 0 1em rgb(255, 255, 249);
  text-align: center;
}
.container p {
  font-size: medium;
  text-align: center;
}

section {
  margin: 30px 5%;
  font-size: small;
}
section img {
  justify-content: space-between;
  margin: 0 auto;
  margin: 60px;
  width: 30%;
  min-width: 250px;
}
section h2 {
  margin: 10px;
}
section article {
  margin: 0 10px 40px;
  font-size: medium;
  text-align: center;
}
section article h4 {
  color: rgb(111, 28, 28);
  font-size: medium;
  text-align: center;
}
section article h3 {
  color: rgb(111, 28, 28);
  font-size: xx-large;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
