
/**------------NAV------------**/
.navbar-brand img{
    width: 80px;
}

.navbar-brand {
    padding: 10px;
}


.colorbarra{
    background-image: linear-gradient(rgb(75, 97, 41), rgb(255, 255, 255));
    max-width: 1600px;
    width: 100%;
}

.nav{
    min-width: auto;
}
